extends layout

block content
    section
        div(style='float:left;width:75%')
            article
                h1 Ridgefield Farmer's Market
                p 300 N Main St., Ridgefield, WA 98642
                p
                    a(href=''https://www.facebook.com/pages/Ridgefield-Farmers-Market/115529101824089', target='_blank') Website
            article
                h1 Vancouver Co-op
                p 1002 Main St., Vancouver, WA 98660
                p 
                    a(href='http://www.vancouverfood.coop/', target='_blank') Website
        +sideImage()