extends layout

block content
  section
    div(style='float:left;width:75%')
        article
            h1 Our Mission
            p To bring something that is a little naughty but in an oh so good way to you.  No corn products, no genetically modified products, only the best goes into our marshmallows. We care about the planet and the people who bring us the ingredients.  Fair trade ingredients and eco- friendly packaging are an important part of our product.  The marshmallows will melt in your mouth without melting our planet that much more in the process.
        article
            h1 Our Products
            p Ever look at the ingredients in your marshmallows?  We have, and we discovered that we could do that, but better.  We set out to make organic, fair trade marshmallows from only the finest ingredients available.  We use Wholesome Sweeteners Sugar and Agave Syrup, All Natural Kosher Gelatin from Great Lakes, Pure Vanilla, Organic Fair Trade Dark Chocolate and only the freshest fruits for my flavors.  Watch out for the seasonal specials, we’re always looking forward to berry season!  We package with Eco-Friendly packaging and labels as well.  We know marshmallows aren’t a health food, but if you’re going to be naughty, may as well do it right, right?  Be good to yourself and the environment, feel good about being a little bad and smile when you do!
    +sideImage()