.reset {
  margin: 0px;
  padding: 0px;
}
.box-shadow {
  box-shadow: 3px 4px 10px #888888;
}
.top-rounded-corners {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.bottom-rounded-corners {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.side-borders {
  border-left: 1px solid #637373;
  border-right: 1px solid #637373;
}
.borders {
  border: 1px solid #637373;
}
.top-border {
  border-top: 1px solid #637373;
}
.bottom-border {
  border-bottom: 1px solid #637373;
}
body {
  margin: 0px;
  padding: 0px;
  margin: 0 auto;
  width: 90%;
}
a {
  text-decoration: none;
  color: #a34246;
}
a:hover {
  text-decoration: underline;
}
.header {
  background-color: #facacc;
  margin: 0px;
  padding: 0px;
  margin-top: 20px;
  padding-bottom: 15px;
  height: 85px;
  border: 1px solid;
  border-bottom: none;
  background: url(/images/pink-clouds-bg.jpg);
  border-left: 1px solid #637373;
  border-right: 1px solid #637373;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-top: 1px solid #637373;
}
.header img {
  float: left;
  display: none;
}
.header h1 {
  margin: 0px;
  margin-left: 15px;
  font-size: 2.5em;
}
.header a {
  text-decoration: none;
  color: #a34246;
}
.header .tagline {
  margin-left: 30px;
  font-style: italic;
}
#spacer {
  height: 1px;
  border-left: 1px solid #637373;
  border-right: 1px solid #637373;
  background-color: #FFFFFF;
}
.nav {
  margin: 0px;
  padding: 0px;
  border-left: 1px solid #637373;
  border-right: 1px solid #637373;
  padding: 10px 10px 10px 30px;
  background-color: #facacc;
}
.nav ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}
.nav li {
  display: inline;
  padding-left: 20px;
}
.content {
  margin: 0px;
  padding: 0px;
  padding: 15px 25px;
  min-height: 350px;
  border-left: 1px solid #637373;
  border-right: 1px solid #637373;
}
.content section {
  overflow: auto;
}
.content section article {
  margin-right: 15px;
  margin-bottom: 30px;
  padding-bottom: 30px;
  border: 1px solid #637373;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  box-shadow: 3px 4px 10px #888888;
}
.content section article h1 {
  margin: 0px;
  padding: 0px;
  padding-left: 5px;
  background-color: #a34246;
  color: #facacc;
}
.content section article p {
  margin: 0px;
  padding: 0px;
  padding: 5px;
}
.content section aside {
  box-shadow: 3px 4px 10px #888888;
  margin-right: 15px;
  max-height: 213px;
  max-width: 200px;
  width: 100%;
}
.content section aside .aside-image {
  max-height: 213px;
  max-width: 200px;
  width: 100%;
}
.footer {
  margin: 0px;
  padding: 0px;
  border-left: 1px solid #637373;
  border-right: 1px solid #637373;
  border-bottom: 1px solid #637373;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 15px;
  background-color: #facacc;
  color: #a56e43;
  text-align: center;
}
